{% extends "encyclopedia/layout.html" %}
{% block title %}
    Wikipedia - Editing {{ title }}
{% endblock %}
{% block body %}
    <h1>Editing entry: <span>{{ title }} </span></h1>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="actions">
            <div>
                <a href="{% url 'entry_page' title %}"><button type="button">Cancel</button></a>
            </div>
            <div>
                <button type="submit" value="{{ title }}" name="edit-entry">Submit</button>
            </div>
            
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}